
*{
margin: 0

padding 0;

}

body{

font-family: 'Times New Roman', Times, serif;

}




ul{

list-style: none;

}


a{
color: rgba(0, 0, 139, 0.765);
    text-decoration: none;
}


.index1{background-color: rgb(0, 145, 255);
    font-family: 'Playfair Display', serif;
    ;



height: 200px;
}

#blanco{color: white;}

.blanca{
color: #ffffff;

}





.imagen{justify-content: center;
    align-items: end;
    display: flex
    ;
    height: 400px;
    padding-left: 200px;
    background-image: url(../imagenes/foto1.webp);
    background-position: center;
    background-size: cover;
    width: 1200px;



}



.portadaenfoto{
    

    
    
   
    
    
    width: 500px;
    
    
    font-size: 2rem;
    
    flex-direction: row;
    display: flex
    
    



}


.navegacion{
  

    display: flex;
    flex-direction: column;
color: black;
height: 100px;
width: 300px;
font-size: 25px
}


.listanav{
    gap: 40px;
    width: 1050px;
    height: 100px;
justify-content: space-around;
;
font-size: 25px;
flex-wrap: nowrap;
flex-direction: row;
display: flex




}
.tabla{height: 300px;
    width: 800px;
background-color: 

}

.tabla2{


width: 1500px



}
.elementosdetabla{

;

}

.mapa {

height: 450px;
width: 450px;
}

.titulos{
    height: 50px;
    font-size: 25px;
    height: 50;
    width: 1500px;
    justify-content: center;
    flex-direction: row;
    display: flex
    





}





td{
padding-left: 25px
;
}







.caja{
    overflow: hidden;
    font-size: 15px;
    flex-direction: row;
    flex-wrap: nowrap;






}

.caja1{
height: 90px;
font-size: 55px;
align-content: flex-start;
padding-right: 

}


.caja2 {
    

    display: flex;
    flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
    width: 300px;
    height: 45px;
    align-content:space-evenly;

font-size: 25px



    



}





.texto1{

    overflow: hidden;
    font-size: 35px;
    flex-direction: row;
    flex-wrap: nowrap;

}



.caja4{
padding-top: 5px;
margin-top: 50px;
    overflow: hidden;
    font-size: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
align-content: center;
}




h2{

    overflow: hidden;
    font-size: 35px;
    flex-direction: row;
    flex-wrap: nowrap;
    
}








.mikamontoya1{justify-content: center;
    flex-flow: wrap;
    display: flex;
    flex-direction: row
    
    
  
  
 
    


}

.foki2{

    display: flex;
    flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
    width: 950px;
    height: 350px;
    align-content:space-evenly;

font-size: 25px



}


.foki2b{  


  height: 350px;
width: 200px;
padding-left: 20px;
padding-top: 150px;
margin-right: 100px;
}


.foki3{

width: 290px;


}













.index2{

    background-color: rgb(0, 145, 255);

height: 300px;
}

.mole{

color: blue;

    font-size: 3000;
}


.caja3b{


overflow: hidden;
    width: 1200px;
    height: 300px;
justify-content: space-around;

font-size: 30px;
flex-wrap: nowrap;
flex-direction: row;
display: flex

}

.doblet{
    background-color: #d80b0b;
    width: 500-x;
flex-direction: row;
display: flex



}




#fokilider{


    display: flex;
    flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
    width: 1650px;
    height: 550px;
    align-content:space-evenly;

font-size: 25px

}



.foki4{height: 1px;
    width: 760px;
font-size: 35px;
text-align: right

}


.foki5{

    font-size: 30px;
    text-align: right;

width: 1400px
}



.nombres{
    
    text-align: right;
font-size: 40px;
    height: 300px;
width: 1300px;

    justify-content: center;
    flex-direction: row;
    display: flex
    





}




.chaco4{height: 700px;
width: 1100px
;
    text-align: end

;


}


/* jugadores*/


.base{
    font-size: 45px;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.671);
align-items: center;
    flex-direction: row;
display: flex
;
}










/*kinesio*/







.flex2 {
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
display:flex

}

.flex3 {
    flex-direction: row;
background-color: aqua;
display: flex;
justify-content:end

}



.mapa1{

    display: flex;

height: 400px;
    width: 1290px;
    justify-content: right



}


iframe{
flex-wrap: wrap;
flex-direction: row;
height: 300px;
    width: 200px;
}



.titu1 {
    background-color: aqua;
    padding-bottom: 50px;
    padding-top: 150px;
height: 30px;
display: flex;
text-align: center;
justify-content: center


}


.a{
    flex-wrap: wrap;
    display: flex;
justify-content: row




}


.imagen2{
    background-color: aqua;
    padding: 5px 7px 5px 7px;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 150px;
    width: 300px;
    overflow: hidden;
    margin-bottom: 5px

}




.caja5{
    border-width: 15px;
    height: 90px;
    width: 300px;
margin-right: 50px;
    padding: 5px;
    border: solid 2px;
    margin-top: 50px;
margin-bottom: 50px;
align-content: flex-start;
    overflow: hidden;
    font-size: 25px;
    flex-direction: row;
    flex-wrap: nowrap;}


    .titulovete{

translate: no ;

    }

    li{

        text-decoration: none;
    }











 /* fondo foto */


 .fondofoto{

height: 100vh;
background-image: url(../imagenes/reja.jpg);
background-position: center;
background-size: cover;
width: 100vh;

 }



 /* responsive*/



 @media (max-width:410px){


    *{
        margin: 0
        
        padding 0;
        
        }
        

.titulo-1{
width: auto;
font-size: 2.5rem;
border: #d80b0b;

}

.navegacion{
width: auto;
height: 200px;


}


.listanav{padding-left: 145px;
    gap:1px;
    font-size: 0.85rem;
    flex-direction: column;
display: flex


}

.imagen{
width: auto;
padding-left: 1px;
}

.portadaenfoto{
    
    font-size: 5px;
    width: 500px;
 
    height: 500px;
    align-items:flex-start ;
flex-direction: row;
display: flex
;

}


.txtbienvenidos{
padding-top: 19px;
font-size: 1.5rem;

}




.caja1{flex-wrap: wrap;
    width: 300px;
font-size: 28px;
    
    display:flex
  



}







}


.caja2{
font-size: 20px;

}

.caja5{

font-size: 18px;
height: 90px;
}



}



.tabla{

width: 0px



}
